@model GALibrary.Models.SQL

<div class="row">
    <div class="col-md-8">
        <form asp-action="CreatePartialView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" name="sqlName" id="sqlName" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="text-danger" id="sqlNameError"></div>
            </div>
            <div class="form-group">
                <label asp-for="DatabaseId" class="control-label"></label>
                <select asp-for="DatabaseId" class="form-control" asp-items="ViewBag.sqlDatabaseId" id="sqlDatabaseId" name="sqlDatabaseId">
                    <option selected></option>
                </select>
                <span asp-validation-for="DatabaseId" class="text-danger"></span>
                <div class="text-danger" id="sqlDatabaseIdError"></div>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control col-md-3" asp-items="ViewBag.sqlType" id="sqlType" name="sqlType" onchange="ExibeTipoSQL()">
                    <option selected></option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
                <div class="text-danger" id="sqlTypeError"></div>
            </div>

            <div class="form-group" id="divSQLScript">
                <label asp-for="SQLScript" class="control-label"></label>
                <textarea asp-for="SQLScript" class="form-control multiLine" id="sqlScript" name="sqlScript"></textarea>
                <span asp-validation-for="SQLScript" class="text-danger"></span>
                <div class="text-danger" id="sqlScriptError"></div>
            </div>


            <div class="form-group sql-div-upload" id="divSQLArquivo">
                <div class="control-label form-group">Arquivo(s)</div>
                <div class="input-group">
                    <input type="text" name="sqlFileNames" id="sqlFileNames" class="form-control upload-form-size" readonly="readonly">
                    <label for="sqlFilesUpload" class="btn btn-success"><span class="fa fa-upload" aria-hidden="true"></span> Selecione um ou mais arquivos SQL </label>
                    *Selecione somente arquivos com extensão .sql
                    <input id="sqlFilesUpload" onchange="setaArquivoUpload()" style="visibility:hidden;" type="file" accept=".sql" multiple>
                </div>
                
                <div class="text-danger" id="sqlFilesErro"></div>
            </div>
            <br />

            <div class="form-group">
                <input type="button" value="Cadastrar" class="btn btn-success" onclick="SalvaDados()" />
            </div>

            <div class="form-group font-weight-bold">
                <div class="text-success" id="divStatusOK"></div>
                <div class="text-danger" id="divStatusErro"></div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script type="text/javascript">

    $(document).ready(function () {

        $("#divSQLArquivo").hide();
        $("#divSQLScript").hide();

        $("#sqlDatabaseId").select2({
            placeholder: "Selecione um banco de dados",
            minimumInputLength: 0,
            allowClear: true,
            theme: "bootstrap4"
        });
    });

    function setaArquivoUpload() {
        var sqlFilesUpload = $("#sqlFilesUpload").get(0);
        var nomeArquivos = '';

        for (i = 0; i < sqlFilesUpload.files.length; i++) {
            if (sqlFilesUpload.files[i].name.toUpperCase().endsWith(".SQL")) {
                nomeArquivos += sqlFilesUpload.files[i].name + '; ';
            }
        }
        nomeArquivos = nomeArquivos.slice(0, -2)

        if (sqlFilesUpload.files.length === 1) {
            $("#sqlFileNames").val(sqlFilesUpload.files.length + ' arquivo selecionado. Nome: ' + nomeArquivos);
        }
        else {
            $("#sqlFileNames").val(sqlFilesUpload.files.length + ' arquivos selecionados. Nomes: ' + nomeArquivos);
        }
    }

    function ExibeTipoSQL() {
        var sqlType = $('#sqlType option:selected').val();
        switch (sqlType) {
            case "0":
                $("#divSQLArquivo").hide();
                $("#divSQLScript").hide();
                break;
            case "1":
                $("#divSQLArquivo").show();
                $("#divSQLScript").hide();
                break;
            case "2":
                $("#divSQLArquivo").hide();
                $("#divSQLScript").show();
                break;
        }
    }

    function CleanFields() {
        $('#sqlDatabaseId').val('').trigger('change')
        $("#sqlType").val('').trigger('change')
        $("#sqlName").val('');
        $("#sqlScript").val('');
        $("#sqlFileNames").val('');
        

        document.getElementById("divStatusErro").innerText = "";
        document.getElementById("divStatusOK").innerText = "";

    }


    function SalvaDados() {
        var valido = true;
        var sqlName = $('#sqlName').val();
        var sqlScript = $('#sqlScript').val();
        var sqlType = $('#sqlType option:selected').val();
        var sqlDatabaseId = $('#sqlDatabaseId option:selected').val();

        //var fileName = $('#fileName').val();
        var sqlFilesUpload = $("#sqlFilesUpload").get(0);

        $("#sqlNameError").html("");
        $("#sqlDatabaseIdError").html("");
        $("#sqlTypeError").html("");
        $("#sqlScriptError").html("");
        $("#sqlFilesErro").html("");


        if (sqlName == '') {
            $("#sqlNameError").html('<p>É necessário informar o nome</p>');
            valido = false;
        }

        if (sqlDatabaseId === 'undefined' || sqlDatabaseId === '') {
            $("#sqlDatabaseIdError").html('<p>É necessário selecionar um banco de dados</p>');
            valido = false;
        }

        if (sqlType === 'undefined' || sqlType === '') {
            $("#sqlTypeError").html('<p>É necessário selecionar o tipo de cadastro</p>');
            valido = false;
        }

        if (sqlType == 2 && sqlScript === '') {
            $("#sqlScriptError").html('<p>É necessário informar uma instrução SQL</p>');
            valido = false;
        }
        
        if (sqlType == 1 && sqlFilesUpload.files.length == 0) {
            $("#sqlFilesErro").html('<p>É necessário selecionar ao menos um arquivo</p>');
            valido = false;
        }


        var sqlFiles = sqlFilesUpload.files;


        if (valido) {
            var sqlData = new FormData();
            sqlData.append('sqlName', sqlName);
            sqlData.append('sqlScript', sqlScript);
            sqlData.append('sqlType', sqlType);
            sqlData.append('sqlDatabaseId', sqlDatabaseId);

            for (var i = 0; i < sqlFiles.length; i++) {
                sqlData.append(sqlFiles[i].name, sqlFiles[i]);
            }

            $.ajax({
                type: "POST",
                async: true,
                contentType: false,
                processData: false,
                url: '/SQLs/SalvaDados',
                data: sqlData,

                success: function (result) {
                    if (result.status == 1) {
                        CleanFields();
                        document.getElementById("divStatusOK").innerText = "Cadastro realizado com sucesso.";
                        document.getElementById("divStatusErro").innerText = "";
                    }
                    else {
                        document.getElementById("divStatusErro").innerText = result.status;
                        document.getElementById("divStatusOK").innerText = "";
                    }
                },

                error: function (xhr, err) {
                    //alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    //alert("responseText: " + xhr.responseText);
                    document.getElementById("divStatusErro").innerText = "readyState: " + xhr.readyState + "\nstatus: " + xhr.status + xhr.responseText;
                }

            });
        }

    }
</script>