@model GALibrary.Models.File


<form asp-action="CreatePartialView">
    <div class="row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-12 form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control listBoxSelectionForm" id="fileName" />
            <div class="text-danger" id="fileNameError"></div>
        </div>
        <div class="col-md-12 listBoxSelectionForm form-group">
            <label asp-for="ApplicationId" class="control-label"></label>
            <select asp-for="ApplicationId" class="form-control listBoxSelectionForm" asp-items="ViewBag.fileApplicationId" id="fileApplicationId" name="fileApplicationId" onchange="GetFolderFiles()">
                <option selected></option>
            </select>
            <div class="text-danger" id="fileApplicationIdError"></div>
        </div>

        <div class="col-md-12 listBoxSelectionform form-group">
            <table class="listBoxSelectionTable">
                <tr>
                    <td>
                        <p>Diretórios disponíveis</p>
                        <select asp-for="Application.Folder" class="form-control form-control-range listBoxSelection" id="FoldersId" asp-items="ViewBag.FileFolder"></select>

                    </td>
                    <td align="center" class="listBoxSelectionArrows">
                        <p><br /></p>
                        <a onclick="AddFolder()" class="btn"> <span class="fa fa-2x fa-chevron-right" aria-hidden="true"></span> </a>
                        <a onclick="RemoveFolder()" class="btn"> <span class="fa fa-2x fa-chevron-left" aria-hidden="true"></span> </a>
                    </td>
                    <td>
                        <p>Diretórios selecionados</p>
                        <select asp-for="FileFolder" class="form-control listBoxSelection" id="Folders" name="Folders" asp-items="ViewBag.FileFolder"></select>

                    </td>
                </tr>

            </table>
            <div class="text-danger" id="fileFoldersError"></div>
        </div>


        <div class="col-md-12 form-group">
            <div class="control-label form-group ">Arquivo</div>
            <div class="input-group form-group">
                <input type="text" name="fileFileName" id="fileFileName" class="form-control upload-form-size" readonly="readonly">
                <label for="FilesFiles"  class="btn btn-success"><span class="fa fa-upload" aria-hidden="true"></span> Selecione um arquivo </label>
                <input id="FilesFiles" onchange="setaArquivoUpload()" style="visibility:hidden;" type="file" accept=".zip,application/zip">
            </div>
            <p>*Selecione somente um arquivo .zip com a estrutura da atualização</p>
            
            <div class="text-danger" id="fileFileNameError"></div>
        </div>

        
        <div class="form-group col-md-12">
            <input type="button" value="Cadastrar" class="btn btn-success" onclick="SalvaDados()" />
        </div>

        <div class="form-group col-md-12 font-weight-bold">
            <div class="text-success" id="divStatusOK"></div>
            <div class="text-danger" id="divStatusErro"></div>
        </div>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

    GetFolderFiles();

    function setaArquivoUpload() {
        var name = document.getElementById("FilesFiles").files[0].name;
        if (name.toUpperCase().endsWith(".ZIP")) {
            $("#fileFileName").val(name);
        }
        else {
            $("#fileFileName").val("");
        }
    }

    $(document).ready(function () {
        $("#fileApplicationId").select2({
            placeholder: "Selecione uma aplicação",
            minimumInputLength: 0,
            allowClear: true,
            theme: "bootstrap4"
        });
    });

    function GetFolderFiles() {
        $("#FoldersId").empty()
        $("#Folders").empty()

        var testaAplicacao1 = $("#fileApplicationId option:selected").val();
        var testaAplicacao2 = $("#ApplicationId option:selected").val();

        if (testaAplicacao1 === '') {
            applicationID = testaAplicacao2;
        }
        else {
            applicationID = testaAplicacao1;
        }

        $("#FoldersId").empty()
        $.getJSON("/Files/LoadDropDownList/?applicationID=" + applicationID, function (data) {
            var items;
            $.each(data, function (i, data) {
                items += "<option value='" + data.Id + "'>" + data.Path + "</option>";
            });
            $("#FoldersId").html(items);
            $("#FolderId option:selected").prop("selected", false)
        });

    }


    function AddFolder() {
        var selectedOpts = $('#FoldersId option:selected');
        $('#Folders').append($(selectedOpts).clone());
        $(selectedOpts).remove();

        selectSort('#Folders', 'text', 'asc');

        $("#Folders option:selected").prop("selected", false)
        $("#FoldersId option:selected").prop("selected", false)
    }

    function RemoveFolder() {
        var selectedOpts = $('#Folders option:selected');
        $('#FoldersId').append($(selectedOpts).clone());
        $(selectedOpts).remove();

        selectSort('#FoldersId', 'text', 'asc');

        $("#Folders option:selected").prop("selected", false)
        $("#FoldersId option:selected").prop("selected", false)
    }

    function CleanFields() {
       
        $('#fileApplicationId').val('').trigger('change')

        $("#FilesName").val('');
        $("#fileFileName").val('');

        $("#FoldersId").empty()
        $("#Folders").empty()
        
        document.getElementById("divStatusErro").innerText = "";
        document.getElementById("divStatusOK").innerText = "";

    }


    function SalvaDados() {
        var valido = true;
        var fileName = $('#fileName').val();

        var fileApplicationId = $('#fileApplicationId option:selected').val();
        var folders = document.getElementById("Folders");
        var foldersSize = folders.options.length;
        var fileFileName = $('#fileFileName').val();
        var fileUpload = $("#FilesFiles").get(0);



        $("#fileNameError").html("");
        $("#fileApplicationIdError").html("");
        $("#fileFileNameError").html("");
        $("#fileFoldersError").html("");
        

        if (fileName == '') {
            $("#fileNameError").html('<p>É necessário informar o nome</p>');
            valido = false;
        }

        if (fileApplicationId === 'undefined' || fileApplicationId === '') {
            $("#fileApplicationIdError").html('<p>É necessário selecionar a aplicação</p>');
            valido = false;
        }

        if (foldersSize == 0) {
            $("#fileFoldersError").html('<p>É necessário selecionar ao menos uma pasta</p>');
            valido = false;
        }


        if (fileUpload.files.length == 0) {
            $("#fileFileNameError").html('<p>É necessário selecionar ao menos um arquivo</p>');
            valido = false;
        }


        var fileFolders = "";
        for (var i = 0; i < foldersSize; i++) {
            fileFolders += folders.options[i].value + ' ';
        }



        var files = fileUpload.files;
        
        if (valido) {
            var fileData = new FormData();
            fileData.append('fileName', fileName);
            fileData.append('fileFileName', fileFileName);
            fileData.append('fileApplicationId', fileApplicationId);
            fileData.append('fileFolders', fileFolders);
           

            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            $.ajax({
                type: "POST",
                async: true,
                contentType: false,
                processData: false,
                url: '/Files/SalvaDados',
                data: fileData,

                success: function (result) {
                    if (result.status == 1) {
                        CleanFields();
                        document.getElementById("divStatusOK").innerText = "Cadastro realizado com sucesso.";
                        document.getElementById("divStatusErro").innerText = "";
                        GetFolderFiles();
                    }
                    else {
                        document.getElementById("divStatusErro").innerText = result.status;
                        document.getElementById("divStatusOK").innerText = "";
                        GetFolderFiles();
                    }
                },

                error: function (xhr, err) {
                    //alert("readyState: " + xhr.readyState + "\nstatus: " + xhr.status);
                    //alert("responseText: " + xhr.responseText);
                    document.getElementById("divStatusErro").innerText = "readyState: " + xhr.readyState + "\nstatus: " + xhr.status + xhr.responseText;
                    GetFolderFiles();
                }

            });
        }

    }
</script>